# ignore all .txt in the directory because .txt is not the part of my work
*.txt
# ignore the backup file because I want to backup the original file and don't want
# git to track
backup
# ignore the prototype file incase i want to test the game first and don't want git
# to track it
prototype
